In [77]:
import basedosdados as bd
import pandas as pd

In [109]:
query = """
SELECT *
FROM `basedosdados.br_inmet_bdmep.microdados` 
LIMIT 100
"""

df = bd.read_sql(query, billing_project_id="python-371123")

Downloading: 100%|██████████| 100/100 [00:00<00:00, 202.03rows/s]

In [111]:
df.head()

,ano,data,hora,id_estacao,precipitacao_total,pressao_atm_hora,pressao_atm_max,pressao_atm_min,radiacao_global,temperatura_bulbo_hora,...,temperatura_max,temperatura_min,temperatura_orvalho_max,temperatura_orvalho_min,umidade_rel_max,umidade_rel_min,umidade_rel_hora,vento_direcao,vento_rajada_max,vento_velocidade
0,2000,2000-07-04,20:00:00,A401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2001-08-31,19:00:00,A001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2001-12-07,03:00:00,A801,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,2002-11-01,18:00:00,A603,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,2002-12-18,23:00:00,A401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
query = """
SELECT FORMAT_DATE('%Y', data) AS ano, FORMAT_DATE('%m', data) AS mes, data, hora, id_estacao, precipitacao_total
FROM `basedosdados.br_inmet_bdmep.microdados`
WHERE ano = 2022 AND mes = 10
LIMIT 1000
"""

df = bd.read_sql(query, billing_project_id="python-371123")

GenericGBQException: Reason: 400 Unrecognized name: mes at [4:22]

(job ID: e6a97b31-d24b-4ebd-b639-590121208c99)

                                           -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:SELECT FORMAT_DATE('%Y', data) AS ano, FORMAT_DATE('%m', data) AS mes, data, hora, id_estacao, precipitacao_total
   3:FROM `basedosdados.br_inmet_bdmep.microdados`
   4:WHERE ano = 2022 AND mes = 10
   5:LIMIT 1000
    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |

In [153]:
df.precipitacao_total.isna().sum()

36335

In [137]:
df

     ano mes        data      hora id_estacao  precipitacao_total
0   2022  02  2022-02-12  21:00:00       A930                 NaN
1   2022  02  2022-02-26  19:00:00       A930                 NaN
2   2022  01  2022-01-30  01:00:00       A766                 NaN
3   2022  01  2022-01-28  08:00:00       A447                 NaN
4   2022  01  2022-01-02  18:00:00       A719                 NaN
..   ...  ..         ...       ...        ...                 ...
95  2022  09  2022-09-09  11:00:00       A850                 NaN
96  2022  01  2022-01-25  08:00:00       A721                 NaN
97  2022  08  2022-08-15  16:00:00       A721                 NaN
98  2022  10  2022-10-01  09:00:00       A721                 NaN
99  2022  01  2022-01-16  13:00:00       A440                 NaN

[100 rows x 6 columns]