In [21]:
import basedosdados as bd
import pandas as pd

In [109]:
query = """
SELECT *
FROM `basedosdados.br_inmet_bdmep.microdados` 
LIMIT 100
"""

df = bd.read_sql(query, billing_project_id="python-371123")

Downloading: 100%|██████████| 100/100 [00:00<00:00, 202.03rows/s]

In [111]:
df.head()

,ano,data,hora,id_estacao,precipitacao_total,pressao_atm_hora,pressao_atm_max,pressao_atm_min,radiacao_global,temperatura_bulbo_hora,...,temperatura_max,temperatura_min,temperatura_orvalho_max,temperatura_orvalho_min,umidade_rel_max,umidade_rel_min,umidade_rel_hora,vento_direcao,vento_rajada_max,vento_velocidade
0,2000,2000-07-04,20:00:00,A401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2001-08-31,19:00:00,A001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2001-12-07,03:00:00,A801,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,2002-11-01,18:00:00,A603,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,2002-12-18,23:00:00,A401,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
query = """
SELECT FORMAT_DATE('%Y', data) AS ano, FORMAT_DATE('%m', data) AS mes, data, hora, id_estacao, precipitacao_total
FROM `basedosdados.br_inmet_bdmep.microdados`
WHERE ano = 2022 AND mes = 10
LIMIT 1000
"""

# df = bd.read_sql(query, billing_project_id="python-371123")